@charset "UTF-8";

body {
	text-align: center;
	color: #444;
}

h2 {
	color: #f3a382;
}

hr {
	width: 50px;
	color: #999;
	margin: 50px auto;
}

.itul,
table {
	display: inline-table;
}

li {
	text-align: left;
}

table {
	width: 560px;
	margin-top: 16px;
	border-spacing: 0;
}

td,
th {
	width: 100px;
	padding: 20px;
}

.container {
	margin: 150px 0;
}

.skills {
	list-style: none;
	font-size: 25px;
}

.skills li {
	font-size: 15px;
	line-height: 25px;
}

.snsLink {
	text-decoration: none;
	color: #444;
}

.snsLink:hover {
	text-decoration: none;
	color: #719c95;
}

.snsLink:focus {
	text-decoration: none;
	color: #719c95;
}

.snsLink:active {
	text-decoration: none;
	color: #719c95;
}